@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@keyframes animacao{

}
@font-face {
    font-family:'squealer' ;
    src: url('fonts/squealer.ttf') format('truetype');
    /* tipos de format()
     -opentype (otf)
     - truetype(ttf)
     -entedde-opentype
     -truetype-aat ( apple advanced typography)
     -svg
    */

}
:root{
    --fonte1:'squealer'
}
body{
    background-image:url(imagens/bg-top.jpg) ;
    background-attachment: fixed;
    text-align: center;
    margin: 0px;
}
header{
    font-family:var(--fonte1);
    max-width: 400px;
    min-width: 90%;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.555),rgba(255, 255, 255, 0.548));
    box-shadow: 2px 2px 5px ;color : aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.438);
    border: 5px groove white;
    padding: 3px;
    margin: 0px auto 30px auto;
}
header img.flutuante{
    top: 60px;
    left: -20px;
    position: absolute;
}
/*configurção do menu*/
nav{
    font-family: 'Lato';
    font-weight: normal;
    font-size: ;
    
}
nav a{
    color: white;
    text-decoration: none;
}
nav li{
    list-style: none;
    display: inline-block;
    margin: 2px;
    padding: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
    text-shadow:0px 0px 5px #fff;
    color:white;
    background-color: black;
    transition: background-color 1s;
}
nav li:hover{
background-color:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
}
/*configuração dos itens escondidos*/
.itensmenu{
    margin-top: 10px;
    margin-left: -20px;
    display: none;
    position: absolute;
}
.itensmenu a{
    padding: 5px;
    background-color: #606060;
    display: block;
}
.itensmenu a:hover{
    background-color: rgb(7, 159, 179);
    color: black;
}
.dropdown:hover .itensmenu{
    display: block;
}
/*corpo do site*/
main{
    background-color: rgba(43, 36, 36, 0.733);
    border-radius:10px ;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.61);
    max-width: 800px;
    min-width:300px ;
    margin: auto;
    color:azure; 
    padding: 10px;
}
main a{
    color:rgb(0, 183, 255);
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
}
main a:active{
    color: red;
}
main p{
    text-align: justify;
    padding: 20px;
}
main p{
    font-size: 1.3em;
}
main p#retorno{
    text-align: center;
}
main p#retorno a{
    color: red;
    font-size: 2.2em;
}
/*titulos secundários*/
.second{
    letter-spacing: 2px;
    font-family:var(--fonte1);
    border-radius: 100px;
    background-color:#a23ade9c;
}
.second::after{
    content: ' ☥';
}
.second::before{
   content:'';
}
/*imagens*/
main img{
    max-width: 80%;
    border-radius: 20px;
    box-shadow: -2PX -1PX 20PX 10px rgba(0, 0, 0, 0.582);
}


/*seções */
section{
    margin: 30px 30px;
    padding: 5px;
    display: inline-block ;
    background-color: black;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    border: 2px solid rgb(54, 207, 212);
    transition: width  1s;
}
section:hover{
    transition: width  1s;
    background-color: black;
    width:18vw;
    height: 18vw;    border-radius: 100%;
    background-size: cover;
}

#secao1{
    background-image: url(imagens/magonegro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#secao2{
    background-image: url(imagens/blueeyes.jpg);
    background-position: center;
    background-size: 35svw;
}
#secao3{
    background-image: url(imagens/olhosanomalos.jpg);
    background-position:top;
    background-size: 35svw;
}
/*video*/
iframe{
    border-radius: 40px;
    width: 400px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.712);
}
/*rodapé*/
footer{
    padding-bottom: 5px;
    width: 100%;
    font-family:fantasy ;color: black;
    background-color: rgba(3, 255, 255, 0.925);
}
footer p{
    padding: 15px;
    max-width: 300px;
}