@charset "UTF-8";
/* 
 --Extra small devices (phones, 600px and down) 
        @media only screen and (max-width: 600px) {...}
        --Small devices (portrait tablets and large phones, 600px and up) 
        @media only screen and (min-width: 600px) {...}
  --Medium devices (landscape tablets, 768px and up) 
        @media only screen and (min-width: 768px) {...}
  --Large devices (laptops/desktops, 992px and up)
        @media only screen and (min-width: 992px) {...}
  --Extra large devices (large laptops and desktops, 1200px and up) 
        @media only screen and (min-width: 1200px) {...}
 */

@media screen and (max-width:920px) {
      header{
            width: 90%;
      }
     img.flutuante{
      top: 127px;
      left: 10px;
      width: 120px;
     }
     nav li{
      font-size: 1em;
     }
      main h2{
            font-size: 1.3em;
      }
}
@media screen and (max-width:720px){
      iframe{
            width: 90%;
            height: 200px;
      }
}