@charset "UTF-8";
/* 
 --Extra small devices (phones, 600px and down) 
        @media only screen and (max-width: 600px) {...}
        --Small devices (portrait tablets and large phones, 600px and up) 
        @media only screen and (min-width: 600px) {...}
  --Medium devices (landscape tablets, 768px and up) 
        @media only screen and (min-width: 768px) {...}
  --Large devices (laptops/desktops, 992px and up)
        @media only screen and (min-width: 992px) {...}
  --Extra large devices (large laptops and desktops, 1200px and up) 
        @media only screen and (min-width: 1200px) {...}
 */
 @media screen and (max-width:1000px){
      img.flutuante{
            width: 180px;
            top: 80px;
            left: 10px;
      }
 }
@media screen and (max-width:600px){
      main{
            margin-top: 75px;
      }
      main p{
            font-size: 13pt;
      }
      nav{
            font-size: 10pt;
      }
      header{
            width: 100%;
            height: 150px;
      }
      header h1{
            font-size: 1.8em;
      }
      img.flutuante{
            top: 100px;

            width: 100px;
      }
      iframe{
            width: 60vw;
            height: 25vh;
      }
      div.content img{
            width: 150px;
      }
}
@media screen and (max-width:400px) {
      header h1{
            font-size: 1.4em;
      }
      img.flutuante{
            top: 100px;
            left: 0px;
            width: 100px;
      }
      nav{
            font-size: 9px;
      }
      nav li{
            width: 30%;
      }
      .itensmenu{
            right: 35px;
      }
      
}