@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family:'squealer' ;
    src: url('../fonts/squealer.ttf') format('truetype');
    /* tipos de format()
     -opentype (otf)
     - truetype(ttf)
     -entedde-opentype
     -truetype-aat ( apple advanced typography)
     -svg
    */

}
:root{
    --fonte1:'squealer';
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-image:url(../imagens/bg-top.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    text-align: center;
    font-family:var(--fonte1);
    position: relative;
    background-image: url(../imagens/fundo-head.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 2px 5px ;color : aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.438);
    border: 5px groove #ffffff;
    border-radius: 20px;
    padding: 30px;
    max-width: 800px;
    height: 200px;
    margin: 0px auto 30px auto;
}
header h1{
    margin-top: 10px;
    text-shadow: 4px 4px 6px rgba(13, 13, 131, 0.788);
}
/* imagen flutuante*/
img.flutuante{
    top: 70px;
    left: 20vw;
    position: absolute;
    width: 200px;
}
/*configurção do menu*/
nav#itens{
    display: none;
    font-family: 'Lato';
    font-weight: normal;
    
}
nav a{
    color: white;
    text-decoration: none;
}
nav li{
    list-style: none;
    display: inline-block;
    margin: 2px;
    padding: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
    border-radius: 15px;
    text-shadow:0px 0px 5px #fff;
    color:white;
    font-size: 1.2em;
    background-color: black;
    transition: background-color 1s;
}
nav li:hover{
color:#fff;
}
i#burguer{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.527);
    display: block;
}
/*configuração dos itens escondidos*/
.itensmenu{
    margin-top:5px ;
    margin-left: -20px;
    display: none;
    position: absolute;
}
.itensmenu a{
    padding: 5px;
    border-radius: 10px;
    background-color: #606060;
    display: block;
}
.itensmenu a:hover{
    background-color: rgb(7, 159, 179);
    color: black;
}
.dropdown:hover .itensmenu{
    display: block;
}
/*corpo do site*/
main{
    display: block;
    background-color: rgba(43, 36, 36, 0.733);
    border-radius:10px ;
    box-shadow: 5px 5px  8px rgba(0, 0, 0, 0.61);
    max-width: 800px;
    margin:120px  auto;
    color:azure; 
    padding: 10px;
}
main a{
    color:rgb(0, 183, 255);
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
}
main a:active{
    color: red;
}
main p{
    text-indent: 20px;
    text-align: justify;
    font-size: 1.3em;
}
main p#retorno{
    text-align: center;
}
main p#retorno a{
    color: red;
    font-size: 2.2em;
}
main p#retorno{
    margin: auto;
    text-align: center;
}
/*titulos secundários*/
h2.second{
    text-align: center;
    letter-spacing: 2px;
    font-family:var(--fonte1);
    border-radius: 100px;
    background-color:#a23ade9c;
    padding: 3px;
}
/*imagens*/
div.fotinha img{
    max-width: 400px;
    display: block;
    margin: 20px auto;
    border-radius: 40px;
    box-shadow: -2PX -1PX 20PX 0px rgba(0, 0, 0, 0.582);
} 
/*fim das configurações de imagens*/
/*seções */
div.content img{
    display: block;
    margin: 10px auto;
    cursor: pointer;
}
/*video*/
iframe{
    border-radius: 40px;
    display: block;
    margin: auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.473);
}
/*rodapé*/
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    font-family:'fantasy' ;
    color: white;
    text-shadow:3px 3px 8px #a23ade9c;
    background-color: black;
}
footer p{
    line-height: 20px;
    text-align: center;
}
