@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    @keyframes rodar {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
}
@font-face {
    font-family:'squealer' ;
    src: url('../fonts/squealer.ttf') format('truetype');
    /* tipos de format()
     -opentype (otf)
     - truetype(ttf)
     -entedde-opentype
     -truetype-aat ( apple advanced typography)
     -svg
    */

}
:root{
    --fonte1:'squealer';
}
*{
    margin: 0px;
    padding: 0px;

}
body{
    background-image:url(../imagens/bg-top.jpg) ;
    background-size: contain;
    background-attachment: fixed;
    text-align: center;
}
header{
    font-family:var(--fonte1);
    position: relative;
    background-image: url(../imagens/pexels-jovanvasiljevic-20131195.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 2px 5px ;color : aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.438);
    border: 5px groove #ffffff;
    border-radius: 20px;
    padding: 30px;
    width: 60%;
    height: 200px;
    margin: 0px auto 30px auto;
}
header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    margin-top: 10px;
    text-shadow: 4px 4px 6px rgba(13, 13, 131, 0.788);
}
img.flutuante{
    top: 60px;
    left: 0px;
    position: absolute;
    width: 18vw;
}
img.flutuante{
    animation: rodar 2s 0;
}
/*configurção do menu*/
nav{
    font-family: 'Lato';
    font-weight: normal;
    
}
nav a{
    color: white;
    text-decoration: none;
}
nav li{
    list-style: none;
    display: inline-block;
    margin: 2px;
    padding: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
    border-radius: 15px;
    text-shadow:0px 0px 5px #fff;
    color:white;
    background-color: black;
    transition: background-color 1s;
}
nav li:hover{
color:#fff;
}
/*configuração dos itens escondidos*/
.itensmenu{
    margin-top:5px ;
    margin-left: -20px;
    display: none;
    position: absolute;
}
.itensmenu a{
    padding: 5px;
    border-radius: 10px;
    background-color: #606060;
    display: block;
}
.itensmenu a:hover{
    background-color: rgb(7, 159, 179);
    color: black;
}
.dropdown:hover .itensmenu{
    display: block;
}
/*corpo do site*/
main{
    display: block;
    background-color: rgba(43, 36, 36, 0.733);
    border-radius:10px ;
    box-shadow: 5px 5px  8px rgba(0, 0, 0, 0.61);
    width: 85vw;
    margin:120px  auto;
    color:azure; 
    padding: 10px;
}
main a{
    color:rgb(0, 183, 255);
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
}
main a:active{
    color: red;
}
main p{
    margin: auto;
    text-align: left;
    width: 800px;
    padding: 20px;
    font-size: 1.3em;
}
main p#retorno{
    text-align: center;
}
main p#retorno a{
    color: red;
    font-size: 2.2em;
}
main p#retorno{
    margin: auto;
    text-align: center;
}
/*titulos secundários*/
.second{
    letter-spacing: 2px;
    font-family:var(--fonte1);
    border-radius: 100px;
    background-color:#a23ade9c;
    padding: 3px;
}
/*imagens*/
main img{
    max-width: 80%;
    border-radius: 40px;
    box-shadow: -2PX -1PX 20PX 0px rgba(0, 0, 0, 0.582);
} 
/*seções */
section{
    margin: 30px 30px;
    padding: 5px;
    display: inline-block ;
    background-color: black;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    border: 2px solid rgb(54, 207, 212);
    transition: width  1s;
}
section:hover{
    transition: width  1s;
    background-color: black;
    width:18vw;
    height: 18vw;    border-radius: 100%;
    background-size: cover;
}
div.content{
    display: block;
    margin: auto;
    text-align: center;
}
#secao1{
    background-image: url(../imagens/magonegro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#secao2{
    background-image: url(../imagens/blueeyes.jpg);
    background-position: center;
    background-size: cover;
}
#secao3{
    background-image: url(../imagens/olhosanomalos.jpg);
    background-position:top;
    background-size: 35svw;
}
/*video*/
iframe{
    border-radius: 40px;
    width:280px;
    max-width: 820px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.712);
}
/*rodapé*/
footer{
    padding: 10px;
    font-family:fantasy ;
    color: white;
    text-shadow:3px 3px 8px #a23ade9c;
    background-color: rgba(0, 0, 0, 0.658);
}
footer p{
    line-height: 20px;
    text-align: center;
}